physik511-Klausurvorbereitung.bcf
physik511-Klausurvorbereitung.fdb_latexmk
physik511-Klausurvorbereitung.fls
physik511-Klausurvorbereitung.pdf
physik511-Klausurvorbereitung.run.xml
physik511-Klausurvorbereitung.aux
physik511-Klausurvorbereitung.blg
physik511-Klausurvorbereitung.blg
physik511-Klausurvorbereitung.log
physik511-Klausurvorbereitung.out
*.swp
